<a href="https://colab.research.google.com/github/Nadayarab/Titanic-Dataset/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Fundamentals

Final Assignment

In [ ]:
"""
Dataset: Titanic Dataset (CSV file)
Purpose: This program reads the Titanic dataset, processes the data using Python basics,
and generates summary statistics about passengers.
"""

'\nDataset: Titanic Dataset (CSV file)\nPurpose: This program reads the Titanic dataset, processes the data using Python basics,\nand generates summary statistics about passengers.\n'

#Task 1: Program Setup and Documentation

In [ ]:
print("Python Fundamentals - Final Assignment")
print("Name: Nada Htamleh")
# File name variable
file_name = "titanic.csv"
# Counters
total_passengers = 0
survived_count = 0
not_survived_count = 0

# Summary values
male_count = 0
female_count = 0

Python Fundamentals - Final Assignment
Name: Nada Htamleh

#Task 2: Reading and Preparing the Data

In [ ]:
import csv

data = []

with open(file_name, "r") as file:
    reader = csv.reader(file)
    for row in reader:
        data.append(row)

number_of_records = len(data) - 1
print("Number of records:", number_of_records)

Number of records: 891

#Task 3: Data Types and Type Conversion

In [ ]:
# -------------------------------
# Task 3: Data Types and Type Conversion
# -------------------------------

# دالة لتحويل القيم العددية مع التعامل مع القيم الفارغة أو الخاطئة
def convert_to_numeric(value, dtype=float):
    """
    Convert a string value to a numeric type (int or float).
    If the value is empty or invalid, return None.
    """
    try:
        return dtype(value)
    except ValueError:
        return None

# ==============================
# 1️⃣ تحديد نوع كل عمود (Text / Numeric)
# ==============================
headers = data[0]  # الهيدر
column_types = []

for col_index in range(len(headers)):
    sample_value = data[1][col_index]  # ناخذ أول قيمة في العمود
    try:
        float(sample_value)
        column_types.append("Numeric")
    except ValueError:
        column_types.append("Text")

print("Column Types:")
for i in range(len(headers)):
    print(f"{headers[i]:15} -> {column_types[i]}")
print("-" * 40)

# ==============================
# 2️⃣ تحويل الأعمدة الرقمية المهمة (Age و Fare)
# ==============================
ages = []
fares = []

for row in data[1:]:
    # تحويل Age
    age = convert_to_numeric(row[5], float)  # عمود 5 = Age
    ages.append(age)

    # تحويل Fare
    fare = convert_to_numeric(row[9], float)  # عمود 9 = Fare
    fares.append(fare)

# ==============================
# 3️⃣ التعامل مع القيم الفارغة: استبدالها بالمتوسط
# ==============================
valid_ages = [a for a in ages if a is not None]
average_age = sum(valid_ages) / len(valid_ages)
ages = [a if a is not None else average_age for a in ages]

valid_fares = [f for f in fares if f is not None]
average_fare = sum(valid_fares) / len(valid_fares)
fares = [f if f is not None else average_fare for f in fares]

# ==============================
# 4️⃣ فحص الأنواع بعد التحويل
# ==============================
print("Type check after conversion:")
print("Type of first Age value:", type(ages[0]))
print("Type of first Fare value:", type(fares[0]))

# ==============================
# 5️⃣ عرض أول 5 قيم بعد التحويل
# ==============================
print("First 5 Age values:", ages[:5])
print("First 5 Fare values:", fares[:5])

Column Types:
PassengerId     -> Numeric
Survived        -> Numeric
Pclass          -> Numeric
Name            -> Text
Sex             -> Text
Age             -> Numeric
SibSp           -> Numeric
Parch           -> Numeric
Ticket          -> Text
Fare            -> Numeric
Cabin           -> Text
Embarked        -> Text
----------------------------------------
Type check after conversion:
Type of first Age value: <class 'float'>
Type of first Fare value: <class 'float'>
First 5 Age values: [22.0, 38.0, 26.0, 35.0, 35.0]
First 5 Fare values: [7.25, 71.2833, 7.925, 53.1, 8.05]

#Task 4: Calculations and Operations

In [ ]:
# -------------------------------
# Task 4: Calculations and Operations
# -------------------------------

# 1️⃣ Total number of passengers
total_passengers = len(data) - 1  # تجاهل الهيدر
print("Total number of passengers:", total_passengers)

# 2️⃣ Average Age (بعد التعامل مع القيم الفارغة من Task 3)
average_age = sum(ages) / len(ages)
print("Average age of passengers:", round(average_age, 2))

# 3️⃣ Highest and Lowest Fare
highest_fare = max(fares)
lowest_fare = min(fares)
print("Highest fare:", highest_fare)
print("Lowest fare:", lowest_fare)

# 4️⃣ استخدام comparison/logical operators
# مثال: عدد الركاب الذين أعمارهم أكبر من 30 و Fare أكبر من 50
passengers_over_30_high_fare = 0

for i in range(total_passengers):
    if ages[i] > 30 and fares[i] > 50:  # شرط منطقي AND
        passengers_over_30_high_fare += 1

print("Passengers older than 30 with fare > 50:", passengers_over_30_high_fare)

# 5️⃣ توضيح ترتيب العمليات باستخدام الأقواس
# مثال حساب معادلة وهمية: (Age * Fare) + (Fare / 2)
example_calc = (ages[0] * fares[0]) + (fares[0] / 2)
print("Example calculation (Age[0]*Fare[0] + Fare[0]/2):", round(example_calc, 2))

# مثال آخر يوضح تغيير ترتيب العمليات
example_calc_diff = ages[0] * (fares[0] + (fares[0] / 2))
print("Example with different parentheses:", round(example_calc_diff, 2))

Total number of passengers: 891
Average age of passengers: 29.7
Highest fare: 512.3292
Lowest fare: 0.0
Passengers older than 30 with fare > 50: 83
Example calculation (Age[0]*Fare[0] + Fare[0]/2): 163.12
Example with different parentheses: 239.25

#Task 5: User Input and Conditional Logic

In [ ]:
# -------------------------------
# Task 5: User Input and Conditional Logic
# -------------------------------

# طلب إدخال المستخدم
user_choice = input("Enter filter type (Pclass or Sex): ").strip()

# التحقق من صحة الإدخال
if user_choice.lower() not in ["pclass", "sex"]:
    print("Invalid input! Please enter 'Pclass' or 'Sex'.")
else:
    # طلب القيمة بناءً على نوع الفلتر
    if user_choice.lower() == "pclass":
        value = input("Enter passenger class (1, 2, or 3): ").strip()
        if value not in ["1", "2", "3"]:
            print("Invalid class! Must be 1, 2, or 3.")
        else:
            # تصفية الركاب حسب Pclass
            filtered_passengers = [row for row in data[1:] if row[2] == value]
            print(f"Total passengers in class {value}: {len(filtered_passengers)}")

    elif user_choice.lower() == "sex":
        value = input("Enter gender (male or female): ").strip().lower()
        if value not in ["male", "female"]:
            print("Invalid gender! Must be 'male' or 'female'.")
        else:
            # تصفية الركاب حسب الجنس
            filtered_passengers = [row for row in data[1:] if row[4].lower() == value]
            print(f"Total {value} passengers: {len(filtered_passengers)}")

    # مثال على عرض أول 5 ركاب بعد التصفية
    if 'filtered_passengers' in locals():
        print("\nFirst 5 filtered passengers (PassengerId, Name, Sex, Pclass):")
        for row in filtered_passengers[:5]:
            print(f"ID: {row[0]}, Name: {row[3]}, Sex: {row[4]}, Class: {row[2]}")

Enter filter type (Pclass or Sex): sex
Enter gender (male or female): male
Total male passengers: 577

First 5 filtered passengers (PassengerId, Name, Sex, Pclass):
ID: 1, Name: Braund, Mr. Owen Harris, Sex: male, Class: 3
ID: 5, Name: Allen, Mr. William Henry, Sex: male, Class: 3
ID: 6, Name: Moran, Mr. James, Sex: male, Class: 3
ID: 7, Name: McCarthy, Mr. Timothy J, Sex: male, Class: 1
ID: 8, Name: Palsson, Master. Gosta Leonard, Sex: male, Class: 3

#Task 6: Working with Sequences

In [ ]:
# -------------------------------
# Task 6: Working with Sequences
# -------------------------------

# مثال على الوصول لقيم محددة باستخدام indexing
# نأخذ أول راكب (Row 1 بعد الهيدر)
first_passenger = data[1]
print("First passenger info:", first_passenger)

# الوصول لعمود محدد باستخدام index
# مثال: اسم أول راكب
first_passenger_name = data[1][3]  # index 3 = Name
print("First passenger name:", first_passenger_name)

# -------------------------------
# Slicing: استخراج مجموعة من البيانات
# -------------------------------
# مثال: أول 5 ركاب
first_five_passengers = data[1:6]  # الصفوف 1 إلى 5
print("\nFirst 5 passengers:")
for row in first_five_passengers:
    print(f"ID: {row[0]}, Name: {row[3]}, Class: {row[2]}, Sex: {row[4]}")

# مثال: استخراج عمود Fare لكل الركاب
fares_list = [row[9] for row in data[1:]]  # index 9 = Fare
print("\nFirst 5 Fare values:", fares_list[:5])

# -------------------------------
# Modifying lists with built-in functions
# -------------------------------
sample_list = [5, 3, 8, 1, 4]

print("\nOriginal list:", sample_list)

# append(): إضافة عنصر
sample_list.append(10)
print("After append(10):", sample_list)

# remove(): إزالة عنصر
sample_list.remove(3)
print("After remove(3):", sample_list)

# sort(): ترتيب العناصر
sample_list.sort()
print("After sort():", sample_list)

# reverse(): عكس الترتيب
sample_list.reverse()
print("After reverse():", sample_list)

First passenger info: ['1', '0', '3', 'Braund, Mr. Owen Harris', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S']
First passenger name: Braund, Mr. Owen Harris

First 5 passengers:
ID: 1, Name: Braund, Mr. Owen Harris, Class: 3, Sex: male
ID: 2, Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer), Class: 1, Sex: female
ID: 3, Name: Heikkinen, Miss. Laina, Class: 3, Sex: female
ID: 4, Name: Futrelle, Mrs. Jacques Heath (Lily May Peel), Class: 1, Sex: female
ID: 5, Name: Allen, Mr. William Henry, Class: 3, Sex: male

First 5 Fare values: ['7.25', '71.2833', '7.925', '53.1', '8.05']

Original list: [5, 3, 8, 1, 4]
After append(10): [5, 3, 8, 1, 4, 10]
After remove(3): [5, 8, 1, 4, 10]
After sort(): [1, 4, 5, 8, 10]
After reverse(): [10, 8, 5, 4, 1]

#Task 7: Using Data Structures

In [ ]:
# -------------------------------
# Task 7: Using Data Structures
# -------------------------------

# 1️⃣ استخدام tuple لتخزين الأعمدة (Headers)
headers_tuple = tuple(data[0])
print("Headers (tuple):", headers_tuple)

# 2️⃣ استخدام set لإيجاد القيم الفريدة في عمود Embarked
# index 11 = Embarked
embarked_values = set(row[11] for row in data[1:])
print("Unique embarkation ports:", embarked_values)

# 3️⃣ استخدام dictionary لتخزين ملخص عدد الركاب حسب Passenger Class
# index 2 = Pclass
passengers_by_class = {}

for row in data[1:]:
    pclass = row[2]
    if pclass in passengers_by_class:
        passengers_by_class[pclass] += 1
    else:
        passengers_by_class[pclass] = 1

# 4️⃣ استعراض محتوى الـ dictionary
print("\nNumber of passengers by class:")
for pclass, count in passengers_by_class.items():
    print(f"Class {pclass}: {count} passengers")

Headers (tuple): ('PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked')
Unique embarkation ports: {'', 'S', 'C', 'Q'}

Number of passengers by class:
Class 3: 491 passengers
Class 1: 216 passengers
Class 2: 184 passengers

#Task 8: Loops and Flow Control

In [ ]:
# -------------------------------
# Task 8: Loops and Flow Control
# -------------------------------

# 1️⃣ استخدام for loop لمعالجة البيانات
# مثال: حساب عدد الركاب لكل فئة (Pclass)
passengers_by_class = {}
for row in data[1:]:
    pclass = row[2]
    if pclass in passengers_by_class:
        passengers_by_class[pclass] += 1
    else:
        passengers_by_class[pclass] = 1

print("Passengers by class using for loop:")
for pclass, count in passengers_by_class.items():
    print(f"Class {pclass}: {count}")

# -------------------------------
# 2️⃣ استخدام while loop للتحقق من صحة إدخال المستخدم
# مثال: إدخال الجنس
user_gender = ""
while user_gender.lower() not in ["male", "female"]:
    user_gender = input("Enter gender (male/female): ")
    if user_gender.lower() not in ["male", "female"]:
        print("Invalid input, try again.")

# -------------------------------
# 3️⃣ استخدام nested loops
# مثال: حساب عدد الركاب لكل فئة لكل جنس
# نعمل dictionary لكل جنس يحتوي على dictionary للفئات
gender_class_count = {}
genders = ["male", "female"]

for gender in genders:
    class_count = {}
    for row in data[1:]:
        if row[4].lower() == gender:
            pclass = row[2]
            if pclass in class_count:
                class_count[pclass] += 1
            else:
                class_count[pclass] = 1
    gender_class_count[gender] = class_count

print("\nNumber of passengers by gender and class:")
for gender, classes in gender_class_count.items():
    print(f"{gender.capitalize()}:")
    for pclass, count in classes.items():
        print(f"  Class {pclass}: {count}")

# -------------------------------
# 4️⃣ استخدام break و continue
# مثال: العثور على أول راكب أنثى في الفئة 1
for row in data[1:]:
    if row[4].lower() != "female":
        continue  # نتخطى الذكور
    if row[2] != "1":
        continue  # نتخطى الفئات الأخرى
    print("\nFirst female passenger in Class 1 found:")
    print(f"ID: {row[0]}, Name: {row[3]}, Age: {row[5]}, Fare: {row[9]}")
    break  # نوقف البحث بعد أول نتيجة

Passengers by class using for loop:
Class 3: 491
Class 1: 216
Class 2: 184
Enter gender (male/female): male

Number of passengers by gender and class:
Male:
  Class 3: 347
  Class 1: 122
  Class 2: 108
Female:
  Class 1: 94
  Class 3: 144
  Class 2: 76

First female passenger in Class 1 found:
ID: 2, Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer), Age: 38, Fare: 71.2833

#Task 9: Functions and Modular Programming

In [ ]:
%%writefile functions.py

import pandas as pd

def read_data(file_path):
    data = pd.read_csv(file_path)
    return data

def summary_statistics(data):
    return data.describe()

def filter_data(data, column_name, value):
    filtered = data[data[column_name] == value]
    return filtered

Writing functions.py

In [ ]:
from functions import read_data, summary_statistics, filter_data

In [ ]:
from functions import read_data, summary_statistics, filter_data

In [ ]:

from functions import read_data, summary_statistics, filter_data

data = read_data("titanic.csv")

stats = summary_statistics(data)
filtered = filter_data(data, "Survived", 1)

with open("results.txt", "w") as f:
    f.write("Summary Statistics:\n")
    f.write(str(stats))
    f.write("\n\nFiltered Data (Survived = 1):\n")
    f.write(str(filtered.head()))

print("Submission files created successfully.")

print("Summary Statistics:")
print(summary_statistics(data))

filtered = filter_data(data, "Survived", 1)
print("\nFiltered Data:")
print(filtered.head())

Submission files created successfully.
Summary Statistics:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Filtered Data:
   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C